<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a href="/"><i class="material-icons left">home</i>Home</a>
      </li>
      <li>
        <a href="/clientes"><i class="material-icons left">group</i>Clientes</a>
      </li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="/"><i class="material-icons left">home</i>Home </a>
  </li>
  <li>
    <a href="/clientes"><i class="material-icons left">group</i>Clientes</a>
  </li>
</ul>
