<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/material-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="/assets/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% block title %}{{title}}{% endblock %}</title>
</head>
<body>
    {% include('/partials/navegador.twig') %}
    <div class="row">

        {% block body %}
        {% endblock %}
    </div>
    
    <script src="/assets/materialize-css/dist/js/materialize.min.js"></script>
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>