{% extends '/layouts/base.twig' %} {% block body %}
<p class="center">Tabela de Clientes</p>
<div class="col s12 l8 push-l2">
  <table class="responsive-table centered">
    <thead>
      <tr>
        <th>ID</th>
        <th>DATA</th>
        <th>NOME</th>
        <th>TELEFONE</th>
        <th>EMAIL</th>
        <th>CEP</th>
      </tr>
    </thead>
    <tbody>
      {% for cl in clientes %}
      <tr>
        <td>{{cl.id}}</td>
        <td>{{cl.data}}</td>
        <td>{{cl.nome}}</td>
        <td>{{cl.telefone}}</td>
        <td>{{cl.email}}</td>
        <td>{{cl.cep}}</td>
        <td>
            <a href="#" class="btn-floating btn-small red">
                <i class="material-icons">delete</i>
            </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
